
.about-container {
    position: relative;
    height: auto;
  }
  
  .triangle-div {
    height: 90rem;
    width: 40rem;
    position: absolute;
    top: 0rem;
    right: 0;
    background-image: linear-gradient(
      to bottom right,
      rgb(0, 179, 210),
      rgba(51, 13, 164, 0.632)
    );
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
  }
  
  .about-content {
    width: 70%;
    margin: 8rem auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto;
    grid-template-areas: "picture aboutText" "skills skills";
    column-gap: 2rem;
  }
  
  .profile-pic {
    grid-area: picture;
    align-self: center;
    width: 30rem;
    height: 30rem;
    margin-right: 0rem;
    box-shadow: 0px 0px 1.5rem 0.1rem rgba(0, 0, 0, 0.221);
    border-radius: 100%;
    z-index: 1;
  }
  
  .about-text-container {
    grid-area: aboutText;
    z-index: 1;
  }
  
  .skills-container {
    grid-area: skills;
    z-index: 2;
    display: flex;
    margin-top: 5rem;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .skill-category {
    text-align: center;
    width: 22rem;
    margin-top: 2rem;
  }
  
  .skill-text {
    font-size: 1.5rem;
  }
  
  .skill-title {
    text-transform: uppercase;
  }
  .about-hr {
    height: 0.4rem;
    width: 10rem;
    background-color: #e94f37;
    outline: none;
    border: none;
    margin: 0.5rem 0;
  }
  
  .about-header {
    font-size: 2.8rem;
  }
  
  .about-text {
    font-size: 1.7rem;
    margin-top: 1.5rem;
  }