.header {
    height: 95vh;
    background-image: linear-gradient(
        to bottom right,
        rgba(0, 179, 210, 0.726),
        rgba(51, 13, 164, 0.927)
      ),
      url("../../assests/img/workspace.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
  }
  
  .title-container {
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    backface-visibility: hidden;
  }
  
  .title {
    letter-spacing: 0.5rem;
    font-size: 5.5rem;
    font-weight: 300;
    animation: moveInLeft 1s ease-out;
  }
  
  .subtitle {
    letter-spacing: 0.8rem;
    font-size: 4.5rem;
    animation: moveInRight 1s ease-out;
  }
  
  .arrow-btn {
    margin-top: 7rem;
    animation: oscilate 3s infinite linear;
    transition: all 0.3s;
  }
  
  .arrow-btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.091);
    border-radius: 100%;
  }