.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0rem;
  z-index: 2000;
  width: 100%;
  background-color: rgb(244, 244, 244);
  box-shadow: 0px 0.1rem 0.5rem 0.05rem rgba(0, 0, 0, 0.221);
  padding: 0.3rem 4rem;

  &__hamburger {
     display: none;
  }

  &__checkbox {
    display: none;
  }

  &__menu-btn {
    z-index: 25;
  }

  &__background {
    display: none;
  }

  &__nav {
    display: flex;
  }

  &__initials {
    color: rgb(81, 55, 250);
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
  }

  &__initials:hover {
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }

  &__list-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin: 0 auto;
  }

  &__item {
    margin-left: 3rem;
    text-decoration: none;
  }

  &__link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 2rem;
    text-transform: lowercase;
  }
}

#resume-link:hover #arrow-resume {
  position: relative;
  top: -0.3rem;
  right: -0.3rem;
}

#arrow-resume {
  color: red;
  font-size: 1.5rem;
  transition: all 3s;
  transform: rotate(180deg);
}



