.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0rem;
  z-index: 2000;
  width: 100%;
  background-color: rgb(244, 244, 244);
  box-shadow: 0px 0.1rem 0.5rem 0.05rem rgba(0, 0, 0, 0.221);
  padding: 0.3rem 4rem;

  &__checkbox {
    display: none;
  }

  &__menu-btn {
    display: none;
  }

  &__background {
    display: none;
  }

  &__nav {
    display: flex;
  }

  &__initials {
    color: rgb(81, 55, 250);
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
  }

  &__initials:hover {
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }

  &__item {
    margin-left: 3rem;
    text-decoration: none;
  }

  &__link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 2rem;
    text-transform: lowercase;
  }
}

#resume-link:hover #arrow-resume {
  position: relative;
  top: -0.3rem;
  right: -0.3rem;
}

#arrow-resume {
  color: red;
  font-size: 1.5rem;
  transition: all 3s;
  transform: rotate(180deg);
}

// .navigation {
//   display: flex;
//   flex-direction: row;
//   text-align: center;
//   justify-content: center;
// }

// .menu-btn {
//   width: 6rem;
//   height: 6rem;
//   position: fixed;
//   top: 5rem;
//   right: 5rem;
//   border-radius: 100%;
//   transition: all 0.1s;
//   border: solid 0.25rem black;
//   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
//   animation: fadeIn 0.2s ease-in;
//   background-color: #fff;
//   z-index: 15;
// }

// .menu-btn:hover {
//   cursor: pointer;
//   transform: translateY(-0.1rem);
//   box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.23);
// }

// .menu-btn:active {
//   cursor: pointer;
//   transform: translateY(0);
//   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
// }

// .hidden {
//     z-index: 1;
//     position: fixed;
//     top: 5rem;
//     right: 5rem;
//     border: solid 0.25rem black;
//     border-radius: 40%;
//     transition: all 0.2s;
//     animation: fadeOut 0.5s forwards;
//   }

// .navigation {
//   &__background {
//     width: 6rem;
//     height: 6rem;
//     position: fixed;
//     top: 5rem;
//     right: 5rem;
//     border-radius: 100%;
//     background-image: radial-gradient(rgb(0, 210, 32), rgb(51, 13, 164));
//     z-index: 10;
//     transition: all 0.2s;
//   }

//   &__nav {
//     height: 100vh;
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 10;
//     opacity: 0;
//     width: 0;
//     transition: all 0.2s;
//   }

//   &__list {
//     list-style-type: none;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }

//   &__link {
//     color: #fff;
//     font-size: 3.5rem;
//     text-decoration: none;
//   }

//   &__checkbox:checked ~ &__background {
//     transform: scale(80);
//   }

//   &__checkbox:checked ~ &__nav {
//     width: 100%;
//     opacity: 1;
//   }

//   &__checkbox {
//     display: none;
//   }
// }
