.project {
  padding: 8rem 3rem 0;

  &__container {
      display: flex;
      flex-direction: row;
      line-height: 1.5;
  }

  &__title {
    font-size: 3rem;
  }

  &__subtitle {
      font-weight: 400;
      margin-bottom: 1rem;
  }

  &__img {
      margin-right: 3rem;
    height: 50rem;
    width: 60rem;
    transform: perspective(60rem) rotateY(2deg);
    box-shadow: -1rem 0.5rem 1.5rem 0.1rem rgba(0, 0, 0, 0.221);
  }

  &__subsection {
      font-size: 2rem;
      font-weight: 600;
  }

  &__text {
      font-size: 1.8rem;
      margin-top: 1rem;
  }

  &__link {
      text-decoration: none;
      font-weight: 600;
      color: royalblue;
  }

  &__link:hover {
      text-decoration: underline;
  }
}
