@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap");

$bg-color: whitesmoke;
$color-yellow: #f7cf64;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  padding: 0 3rem;
  background-color: $bg-color;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to bottom right,
      rgba(210, 35, 0, 0.89),
      rgba(13, 55, 164, 0.89)
    ),
    url("../../../public/static/img/workspace.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
}

.navigation {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.nav-tab-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-tab {
  margin-right: 1.5rem;
  font-size: 1.8rem;
}

.nav-tab:hover {
  cursor: pointer;
}

.title-container {
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title {
    letter-spacing: .5rem;
    font-size: 5.5rem;
    font-weight: 300;
    animation: moveInLeft 1s ease-out;
}

.subtitle {
    letter-spacing: .8rem;
    font-size: 4.5rem;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2.5rem);
    }
    80% {
        transform: translateX(.5rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0% {
        opacity: 0;
        transform: translateX(2.5rem);
    }
    80% {
        transform: translateX(-.5rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}