@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  margin: 3rem;
  background-color: whitesmoke;
  position: relative; }

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(0, 179, 210, 0.726), rgba(51, 13, 164, 0.927)), url("../../../public/static/img/workspace.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative; }

.navigation {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center; }

.nav-tab-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

.nav-tab {
  margin-right: 1.5rem;
  font-size: 1.8rem; }

.nav-tab:hover {
  cursor: pointer; }

.title-container {
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backface-visibility: hidden; }

.title {
  letter-spacing: .5rem;
  font-size: 5.5rem;
  font-weight: 300;
  animation: moveInLeft 1s ease-out; }

.subtitle {
  letter-spacing: .8rem;
  font-size: 4.5rem;
  animation: moveInRight 1s ease-out; }

.menu-btn {
  z-index: 1;
  position: fixed;
  top: 5rem;
  right: 5rem;
  font-size: 10rem;
  background-color: whitesmoke;
  padding: .3rem;
  border-radius: 100%;
  border: solid 1px black;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .2s;
  animation: fadeIn .2s ease-in; }

.menu-btn:hover {
  cursor: pointer;
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.23); }

.menu-btn:active {
  cursor: pointer;
  transform: translateY(0);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.hidden {
  z-index: 1;
  position: fixed;
  top: 5rem;
  right: 5rem;
  font-size: 10rem;
  background-color: whitesmoke;
  padding: .3rem;
  border-radius: 100%;
  transition: all .2s;
  animation: fadeOut .5s forwards; }

.profile-pic {
  width: 350px; }

.about-section {
  margin-top: 40rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2.5rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(2.5rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
