@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #fff;
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  margin: 3rem;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 1rem 0.05rem rgba(0, 0, 0, 0.221);
  position: relative; }

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(0, 179, 210, 0.726), rgba(51, 13, 164, 0.927)), url("../../../public/static/img/workspace.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative; }

.navigation {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center; }

.nav-tab-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

.nav-tab {
  margin-right: 1.5rem;
  font-size: 1.8rem; }

.nav-tab:hover {
  cursor: pointer; }

.title-container {
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backface-visibility: hidden; }

.title {
  letter-spacing: 0.5rem;
  font-size: 5.5rem;
  font-weight: 300;
  animation: moveInLeft 1s ease-out; }

.subtitle {
  letter-spacing: 0.8rem;
  font-size: 4.5rem;
  animation: moveInRight 1s ease-out; }

.menu-btn {
  z-index: 1;
  position: fixed;
  top: 5rem;
  right: 5rem;
  font-size: 10rem;
  padding: 0.3rem;
  border-radius: 40%;
  border: solid 0.25rem black;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 3s ease-in-out;
  animation: fadeIn 0.2s ease-in; }

.menu-btn:hover {
  cursor: pointer;
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.23); }

.menu-btn:active {
  cursor: pointer;
  transform: translateY(0);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.hidden {
  z-index: 1;
  position: fixed;
  top: 5rem;
  right: 5rem;
  font-size: 10rem;
  padding: 0.3rem;
  border: solid 0.25rem black;
  border-radius: 40%;
  transition: all 0.2s;
  animation: fadeOut 0.5s forwards; }

.arrow-btn {
  margin-top: 7rem;
  animation: oscilate 3s infinite linear; }

.arrow-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.091);
  border-radius: 100%; }

.about-container {
  position: relative;
  height: 90vh; }

.triangle-div {
  height: 90rem;
  width: 60rem;
  position: absolute;
  top: 19rem;
  right: 0;
  background-image: linear-gradient(to bottom right, #00b3d2, rgba(51, 13, 164, 0.632));
  clip-path: polygon(0 50%, 100% 100%, 100% 0); }

.about-content {
  width: 70%;
  margin: 8rem auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto;
  grid-template-areas: "picture aboutText" "skills skills";
  column-gap: 2rem;
  z-index: 1; }

.profile-pic {
  grid-area: picture;
  align-self: center;
  width: 30rem;
  height: 30rem;
  margin-right: 0rem;
  box-shadow: 0px 0px 1.5rem 0.1rem rgba(0, 0, 0, 0.221);
  border-radius: 100%;
  z-index: 1; }

.about-text-container {
  grid-area: aboutText;
  z-index: 1; }

.skills-container {
  grid-area: skills;
  z-index: 2;
  display: flex;
  margin-top: 5rem;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

.skill-category {
  text-align: center;
  width: 22rem;
  margin-top: 2rem; }

.skill-text {
  font-size: 1.5rem; }

.skill-title {
  text-transform: uppercase; }

.about-hr {
  height: 0.4rem;
  width: 10rem;
  background-color: #e94f37;
  outline: none;
  border: none;
  margin: 0.5rem 0; }

.about-header {
  font-size: 2.8rem; }

.about-text {
  font-size: 1.7rem;
  margin-top: 1.5rem; }

.projects-section {
  height: 50vh; }

.projects-container {
  width: 85%;
  margin: 8rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "heading heading heading" "project1 project2 project3";
  column-gap: 2rem; }

.projects-heading {
  grid-area: heading;
  font-size: 3rem; }

.think-ewe {
  margin-top: 2rem;
  grid-area: project2;
  text-align: center;
  color: #353535;
  z-index: 1;
  padding: 6rem;
  border-radius: .5rem;
  background-image: linear-gradient(to bottom right, rgba(223, 223, 223, 0.4), rgba(255, 255, 255, 0.4)), url("../../../public/static/img/sheep.jpg");
  background-size: cover;
  background-position: top; }

.think-ewe:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.23); }

.think-ewe:active {
  cursor: pointer;
  transform: translateY(0);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.kaleidoscope {
  margin-top: 2rem;
  grid-area: project1;
  text-align: center;
  color: #fff;
  z-index: 1;
  padding: 6rem;
  border-radius: .5rem;
  background-color: rgba(13, 255, 0, 0.666);
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../public/static/img/kscope.jpg");
  background-size: cover; }

.kaleidoscope:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.23); }

.kaleidoscope:active {
  cursor: pointer;
  transform: translateY(0);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.rocket-sauce {
  margin-top: 2rem;
  grid-area: project3;
  color: white;
  text-align: center;
  z-index: 1;
  padding: 6rem;
  border-radius: .5rem;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../../public/static/img/rocket-sauce2.png");
  background-size: cover; }

.rocket-sauce:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.23); }

.rocket-sauce:active {
  cursor: pointer;
  transform: translateY(0);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.project-title {
  font-size: 4rem; }

.project-text {
  font-size: 1.5rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2.5rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(2.5rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes oscilate {
  0% {
    transform: translate(0); }
  50% {
    transform: translateY(1rem); }
  100% {
    transform: translate(0); } }
