@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #fff;
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  margin: 3rem;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 1rem 0.05rem rgba(0, 0, 0, 0.221);
  position: relative; }

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(0, 179, 210, 0.726), rgba(51, 13, 164, 0.927)), url("../../../public/static/img/workspace.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative; }

.navigation {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center; }

.nav-tab-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

.nav-tab {
  margin-right: 1.5rem;
  font-size: 1.8rem; }

.nav-tab:hover {
  cursor: pointer; }

.title-container {
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backface-visibility: hidden; }

.title {
  letter-spacing: 0.5rem;
  font-size: 5.5rem;
  font-weight: 300;
  animation: moveInLeft 1s ease-out; }

.subtitle {
  letter-spacing: 0.8rem;
  font-size: 4.5rem;
  animation: moveInRight 1s ease-out; }

.menu-btn {
  z-index: 1;
  position: fixed;
  top: 5rem;
  right: 5rem;
  font-size: 10rem;
  background-color: #4848c1;
  padding: 0.3rem;
  border-radius: 40%;
  border: solid 1px black;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  animation: fadeIn 0.2s ease-in; }

.menu-btn:hover {
  cursor: pointer;
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.23); }

.menu-btn:active {
  cursor: pointer;
  transform: translateY(0);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.hidden {
  z-index: 1;
  position: fixed;
  top: 5rem;
  right: 5rem;
  font-size: 10rem;
  background-color: #4848c1;
  padding: 0.3rem;
  border-radius: 40%;
  transition: all 0.2s;
  animation: fadeOut 0.5s forwards; }

.arrow-btn {
  margin-top: 7rem;
  animation: oscilate 3s infinite linear; }

.arrow-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.091);
  border-radius: 100%; }

.profile-pic {
  width: 30rem;
  height: 30rem;
  margin-right: 6rem; }

.about-container {
  position: relative;
  height: 100vh; }

.empty-div {
  height: 90rem;
  width: 60rem;
  position: absolute;
  top: 15rem;
  right: 0;
  background-image: linear-gradient(to bottom right, #00b3d2, #330da4);
  clip-path: polygon(0 50%, 100% 100%, 100% 0); }

.about-content {
  z-index: 1;
  height: 80vh;
  width: 75%;
  margin: 15rem auto;
  display: flex;
  flex-direction: row; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2.5rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(2.5rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes oscilate {
  0% {
    transform: translate(0); }
  50% {
    transform: translateY(1rem); }
  100% {
    transform: translate(0); } }
